<div class="application-page">
  <h2>Registration</h2>

  <div class="form-control top20">
    <label for="id">Name:<span class="required">*</span></label>
    {{input name='name' type='text' value=name}}
  </div>

  <div class="form-control top20">
    <label for="id">E-Mail:<span class="required">*</span></label>
    {{input name='email' type='text' value=email}}
  </div>

  <div class="form-control top20">
    <label for="password">Password:<span class="required">*</span></label>
    {{input name='password' type='password' value=password}}
  </div>

  <div class="form-control top20">
    <label for="password">Password Confirmation:<span class="required">*</span></label>
    {{input name='passwordConfirmation' type='password' value=passwordConfirmation}}
  </div>

  <div class="top20" style="display: flex; justify-content: space-between;">
    {{#link-to 'login'}}
      Already have an account?
    {{/link-to}}
    <button {{action 'register'}}>Register</button>
  </div>
</div>
